@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap');

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

article,
aside,
footer,
header,
nav,
section {
  display: block
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

figcaption,
figure,
main {
  display: block
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: inherit
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

dfn {
  font-style: italic
}

mark {
  background-color: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

audio,
video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

img {
  border-style: none
}

svg:not(:root) {
  overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,
input {
  overflow: visible;
  cursor: pointer;
}

button,
select {
  text-transform: none
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  padding: .35em .75em .625em
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  display: inline-block;
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details,
menu {
  display: block
}

summary {
  display: list-item
}

canvas {
  display: inline-block
}

template {
  display: none
}

[hidden] {
  display: none
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  background-color: whitesmoke;
}

body,
.results p {
  font-family: 'Comfortaa', cursive;
}

.wrapper {
  margin: 0 auto;
  max-width: 1260px;
  width: 90%;
}

.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: clamp(1.9rem, 9vw, 5.5rem);
  font-weight: 700;
  letter-spacing: -4px;
  margin-top: 40px;
}

h2 {
  font-size: clamp(2.5rem, 4vw, 3rem);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}

.title,
a {
  animation: color-animation 7s linear infinite;
}

.firstColor {
  --color-1: #79cc74;
  --color-2: #3D8DAE;
  --color-3: #813aa3;
  --color-4: #ef950c;
  --color-5: #c31f9a;
}

.secondColor {
  --color-1: #5f67d0;
  --color-2: #7fc1ba;
  --color-3: #bd5500;
  --color-4: #8b95ff;
  --color-5: #196c72;
}

@keyframes color-animation {
  0% {
    color: var(--color-1)
  }

  15% {
    color: var(--color-1)
  }

  25% {
    color: var(--color-2)
  }

  35% {
    color: var(--color-2)
  }

  45% {
    color: var(--color-3)
  }

  55% {
    color: var(--color-3)
  }

  65% {
    color: var(--color-4)
  }

  75% {
    color: var(--color-4)
  }

  85% {
    color: var(--color-5)
  }

  95% {
    color: var(--color-5)
  }

  100% {
    color: var(--color-1)
  }
}

.intro {
  position: relative;
  background-color: whitesmoke;
  background-clip: padding-box;
  border: 5px solid transparent;
  border-radius: 1.75rem;
  padding: 10px 16px;
  margin: 0 auto;
  width: 75%;
}

h3.intro {
  margin-top: 20px;
  margin-bottom: 15px;
}

.intro::before {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  z-index: -1;
  background-image: linear-gradient(90deg,
      #79cc74, #3D8DAE, #813aa3, #ef950c,
      #c31f9a);
  border-radius: 1.75rem;
}

.introSpan {
  color: black;
  font-weight: 600;
  font-size: clamp(0.8rem, 3vw, 0.9rem);
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-top: 30px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px 0;
}

.option {
  display: flex;
  align-items: center;
  margin: 3px;
}

label {
  font-size: clamp(0.7rem, 2vw, 0.8rem);
  text-transform: capitalize;
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  width: 100px;
  height: 30px;
  margin: 0 20px;
}

button {
  font-family: 'Comfortaa', cursive;
  background: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 40px;
}

.submitButton {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 800;
  width: 60%;
  margin: 20px 0 40px;
  box-shadow: .5em .5em .5em rgba(0, 0, 0, .1);
  transition: 0.5s ease;
  font-size: clamp(0.8rem, 2vw, 1.1rem);
}

.submitButton:hover,
.submitButton:focus {
  background-color: black;
  color: white;
  letter-spacing: 8px;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid transparent;
  box-shadow: 1em 1em 1em rgba(0, 0, 0, .1);
  background-color: white;
  margin: 25px auto;
  width: 70vw;
  border-radius: 15px;
  position: relative;
}

.resultsContainer p {
  margin: 15px 0 0;
  font-size: clamp(0.7rem, 2vw, 0.8rem);
}

.resultsContainer p:first-child {
  font-size: clamp(0.7rem, 3vw, 1rem);
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.controls {
  margin: 25px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.lineWidth {
  padding-right: 15px;
}

.opacity {
  padding: 0 15px;
}

input[type=range] {
  -webkit-appearance: none;
  border-radius: 15px;
  height: 8px;
}

input[type=range]:focus {
  outline: none;
}

/* mobile slider */

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 26px;
  width: 26px;
  background: whitesmoke;
  border: solid 1px black;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  height: 26px;
  width: 26px;
  background: whitesmoke;
  border: solid 1px black;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  height: 26px;
  width: 26px;
  background: whitesmoke;
  border-radius: 50%;
  border: solid 1px black;
  cursor: pointer;
}

/* mobile track */

input[type="range"]::-webkit-slider-runnable-track {
  border: none;
  width: 100%;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
}

.canvasContainer {
  display: flex;
  align-items: center;
  width: 70vw;
  height: 60vh;
  margin: 0 auto;
}

canvas {
  border-radius: 15px;
}

.canvasActions {
  display: flex;
  justify-content: center;
  margin: 10px 0 30px;
}

.canvasActions button {
  font-size: clamp(0.65rem, 2vw, 0.85rem);
  font-weight: bold;
  padding: 10px 8px;
  width: 25%;
  color: white;
  background-color: black;
  border: black solid 1px;
  box-shadow: .5em .5em .5em rgba(0, 0, 0, .1);
  transition: 0.2s ease-in all;
}

.canvasActions button:hover {
  scale: 1.05;
  text-decoration: underline;
}

.canvasActions button:active {
  scale: 0.9
}

.canvasActions>button:nth-child(2) {
  margin: 0 8px;
}

.scrollButton {
  font-size: 0.75rem;
  margin-bottom: 35px;
  text-transform: capitalize;
  font-weight: bold;
  border: black solid 1px;
  box-shadow: .5em .5em .5em rgba(0, 0, 0, .1);
  transition: 0.3s ease-in all;
}

.removeButton {
  background-color: white;
  color: black;
  border: black solid 1px;
  text-align: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: all 0.3s;
}

.removeButton:hover,
.removeButton:focus,
.scrollButton:hover,
.scrollButton:focus {
  background-color: #000;
  color: white;
}

li {
  padding: 24px;
  font-size: 0.8rem;
  transition: 0.1s ease-in all;
}

li:hover {
  font-weight: bold;
}

.results {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s ease-in all;
}

.results:hover {
  scale: 1.1;
}

.results:active {
  scale: 0.9
}

.bottom {
  margin-top: 360px;
}

.imageContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 20px 0;
  margin: 0 auto;
}

.imageContainer img {
  max-width: 60vw;
  max-height: 500px;
  border-radius: 15px;
  border: 1.5px solid black;
}

.deleteCanvas {
  width: 25%;
  padding: 5px 0;
  margin-top: 10px;
  font-size: 0.65rem;
  font-weight: bold;
  border: 1.5px solid black;
  transition: 0.3s ease-in all;
}

.deleteCanvas:hover,
.deleteCanvas:focus {
  background-color: #000;
  color: white;
}

footer {
  margin-top: 40px;
  font-size: 0.65rem;
}

a {
  text-decoration: none;
}

footer a {
  text-decoration: underline;
  display: block;
  line-height: 1.2rem;
  font-weight: bold;
}


@media (max-width: 800px) {

  header p {
    line-height: 1.1rem;
  }

  .options label {
    width: 72px;
  }

  .controls {
    flex-direction: column;
    margin: 0;
  }

  input[type=range] {
    margin: 12px 0 26px;
  }

  .submitButton {
    margin: 10px 0;
  }

  .canvasContainer {
    width: 90vw;
  }

  .imageContainer {
    width: 75%;
  }

  .imageContainer img {
    max-width: 90vw;
    max-height: 80vh;
  }

  .bottom {
    margin-top: 430px;
  }
}

@media (max-width: 680px) {
  .canvasActions button {
    width: 30%
  }

  .deleteCanvas {
    width: 30%;
    padding: 5px;
  }

}


@media (max-width: 550px) {

  .wrapper {
    width: 70%
  }

  .intro {
    width: 100%;
  }

  input[type="text"] {
    margin: 3px 0;
  }

  .options label {
    width: 62px;
  }

  .submitButton {
    width: 100%;
    letter-spacing: 3px;
  }

  .results {
    width: 70px;
    height: 70px;
  }

  ul p {
    margin: 5px 0;
  }

  li {
    padding: 5px;
    font-size: 0.7rem;
  }

  .submitButton:hover,
  .submitButton:focus {
    letter-spacing: 4px;
  }

  .removeButton {
    width: 22px;
    height: 22px;
    font-size: 0.9rem;
  }

  .canvasContainer {
    width: 70vw;
  }

  .canvasActions button {
    width: 100%
  }

  .imageContainer {
    width: 100%;
  }

  .imageContainer img {
    max-height: 65vh;
  }
}